.site-header {
    border-bottom: 1px solid var(--Grey-200);
    background: var(--Grey-50);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    align-items: center;
}

.branding {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 188.858px;
    height: 46px;
}

.header-base-btn {
    display: flex;
    border-radius: var(--spacing-600);
    background-color: var(--Grey-100);
    border: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}

/* .header-menu-btn {
    border-radius: var(--spacing-500);
    width: 51px;
    height: 51px;
    padding: 12px;
} */


.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #FFDD00;
}

@media (max-width: 768px) {
    .nav-links {
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
        flex-wrap: wrap;
    }
}
